<div class="card">
    <div class="card-body d-flex">
        <h4 class="card-title">Payments details - Latest new </h4>
        <a href="/admin/payments-all" class="btn btn-info ms-auto">More details</a>
    </div>
    <div class="comment-widgets scrollable" style="max-height: 430px">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">OrderId</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each payments}}
                <tr>
                    <th scope="row">{{counter @ index}}</th>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{orderId}}</td>
                     <td>{{amount}}</td>
                    <td>{{status}}</td>
                    <td>{{date createdAt}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>